<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link th:href="@{/css/login/login.css}" rel="stylesheet" />
</head>
<body>
<div class="login-form">
    <form th:action="@{/add}" method="post">
        <h2 class="text-center">Create Account</h2>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="username" name="username" id="username" required="required">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="name" name="name" id="name" required="required">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" placeholder="last name" name="lastName" id="lastName" required="required">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="password" name="password" id="password" required="required">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="confirm password" name="confirmPassword" id="confirmPassword" required="required">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">register now</button>
        </div>
    </form>
    <div th:if="${param.error}" class="alert alert-danger" role="alert">
        Invalid username and password.
    </div>
    <p class="text-center"><a th:href="@{/login}" >Sign in</a></p>
</div>
</body>
</html>
