<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Create Account for convert files</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link th:href="@{/css/materialize/materialize.css}" href="../static/css/materialize/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link th:href="@{/css/materialize/style.css}" href="../static/css/materialize/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
</head>
<body>
<div class="container row">
    <div class="col s12 m4"> </div>
    <div class="card-panel center col s12 m4">
        <form method="post" id="login" th:action="@{/login}" enctype="multipart/form-data">
            <h2> Log In</h2>
            <div class="input-field col s12">
                <input type="text" id="username" name="username" class="validate" required>
                <label for="username">username:</label>
            </div>
            <div class="input-field col s12">
                <input type="password" id="password" name="password" class="validate" >
                <label for="password">password:</label>
            </div>
            <div th:text="${message}" style="color:limegreen"> </div>
            <div th:if="${param.error}" class="alert alert-danger" role="alert" style="color:red">
                Invalid username and password.
            </div>
            <div class="center input-field col s12">
                <button class="btn" type="submit">
                    <i class="material-icons right">track_changes</i>log in
                </button>
            </div>
        </form>
        <p class="text-center"><a th:href="@{/createAccount}" >Create Account</a></p>
        <p class="text-center center"><a th:href="@{/}" >Back to home</a></p>
    </div>
    <div class="col s12 m4"></div>
</div>
<script th:src="@{/js/jquery-3.5.1.js}"></script>
<script th:src="@{/js/materialize/materialize.js}" src="../static/js/materialize/materialize.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script th:src="@{/js/auth/login/login.js}"></script>
</body>
</html>

