<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org" lang="en">
<head th:replace="index::head"></head>
<body>
<header><nav th:replace="index :: nav" replace="index :: nav"></nav></header>
<!--formularios-->
<div class="section container">
    <div class="row">
        <form action="" class="col s12" id="form-extract" method="post" th:action="@{/convertExtractText}" enctype="multipart/form-data">
            <div  class="row card-panel z-depth-5">
                <div class="file-field input-field col s12 m6">
                    <div class="btn teal accent-3">
                        <i class="material-icons right">folder_open</i>
                        <span> File</span>
                        <input class="file-path validate" type="text">
                    </div>
                    <div class="file-path-wrapper">
                        <input  name="file" type="file">
                    </div>
                </div>
                <div class="input-field col s12 m6">
                    <input type="text" id="name" name="name" class="validate" required>
                    <label for="name">File name:</label>
                </div>
                <div class="input-field col s12 m6">
                    <select id="language" name="language" class="browser-default">
                        <option value="" disabled selected>Select language</option>
                        <option value="spa">Spanish</option>
                        <option value="en">English</option>
                    </select>
                </div>
                <div class="input-field col s12 m6">
                    <select id="format" name="exportFormat" class="browser-default">
                        <option value="" disabled selected>Select format to export</option>
                        <option value=".docx">Word</option>
                        <option value=".pdf">PDF</option>
                        <option value=".txt">Txt</option>
                    </select>
                </div>
                <div class="input-field col s12 m6">
                    <input type="text" id="md5" name="md5" class="validate" >
                    <label for="md5">MD5:</label>
                </div>

                <div class="center input-field col s12">
                    <button class="btn" type="submit">
                        <i class="material-icons right">track_changes</i>Apply
                    </button>
                </div>
            </div>
        </form>
        <div class="col s3 right">
            <form method="get" th:action="@{/download}">
                <input type="text" name="path" id="path" value="" style="display:none">
                <button type="submit" id="submited" class="btn waves-effect waves-light" disabled>
                    <input type="text" name="filenameDownload" id="filenameDownload" value="" style="display:none">
                    <i class="material-icons right">file_download</i>
                    Download File</button>
            </form>
        </div>
    </div>
</div>
<main th:replace = "index :: main"></main>
<footer th:replace = "index :: footer"></footer>
<!-- Compiled and minified JavaScript -->
<script src="https://kit.fontawesome.com/35db202371.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.js"></script>
<script th:src="@{/js/extractText/extractText.js}"></script>
<script th:src="@{/js/extractText/extractTextValidation.js}"></script>
<script th:src="@{/js/materialize/materialize.js}" src="../static/js/materialize/materialize.js"></script>
<script th:src="@{/js/materialize/init.js}" src="../static/js/materialize/init.js"></script>
</body>
</html>