<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org" lang="en">
<head th:replace="index::head">
</head>
<body>
<header><nav th:replace="index :: nav" replace="index :: nav"></nav></header>
<!--formularios-->
<div class="section container">
    <div class="row card-panel z-depth-5">
        <form action="" id="form-image" method="post" th:action="@{/convertImage}" enctype="multipart/form-data">
             <div class="file-field input-field col s12 m6">
                    <div class="btn teal accent-3">
                        <i class="material-icons right">folder_open</i>
                        <span> File</span>
                    </div>
                    <div class="file-path-wrapper">
                        <input type="file" id="file" name="file" onchange="calculate()"/>
                        <input class="file-path" type="text" disabled>
                    </div>
                </div>
                <div class="input-field col s12 m6">
                    <input type="text" id="md5" name="md5" class="validate" placeholder="" readonly>
                    <label for="md5">MD5:</label>
                </div>
                <div class="input-field col s12 m6">
                    <select name="exportFormat" id="exportFormat" class="browser-default">
                        <option value="" disabled selected>Select format or extension</option>
                        <option value=".jpg">JPG</option>
                        <option value=".png">PNG</option>
                        <option value=".bmp">BMP</option>
                    </select>
                </div>
                <div class="input-field col s12 m6">
                    <input type="text" id="name" name="name" class="validate">
                    <label for="name">Name:</label>
                </div>
                <div class="input-field col s3 m3">
                    <label for="changeSize">
                        <input id="changeSize" name="changeSize" type="checkbox" />
                        <span>Re-size</span>
                    </label>
                </div>
                <div class="input-field col s4 m3">
                    <input type="text" id="position" name="position" class="validate">
                    <label for="position">positionXY example (23,14):</label>
                </div>
                <div class="input-field col s4 m3">
                    <input type="text" id="height" name="height" class="validate">
                    <label for="height">height:</label>
                </div>
                <div class="input-field col s4 m3">
                    <input type="text" id="width" name="width" class="validate">
                    <label for="width">width:</label>
                </div>
                <div class="col s12 container">
                    <div class="input-field col s3">
                        <label for="gray">
                            <input id="gray" name="gray" type="checkbox"/>
                            <span>Scale Gray</span>
                        </label>
                    </div>
                    <div class="input-field col s3">
                        <label for="extractMetadata">
                            <input id="extractMetadata" name="extractMetadata" type="checkbox"/>
                            <span>Metadata</span>
                        </label>
                    </div>
                    <div class=" input-field col s3">
                        <label for="extractThumbnail">
                            <input id="extractThumbnail" name="extractThumbnail" type="checkbox"/>
                            <span>thumbnail</span>
                        </label>
                    </div>
                </div>
                <div class="">
                    <div class="input-field col s6 m2 right mt30">
                        <button class="btn" type="submit">
                            <i class="material-icons right">track_changes</i>Apply
                        </button>
                    </div>
                </div>
        </form>
        <div class="input-field col s6 m2 right mt30">
            <form method="get" th:action="@{/download/}">
                <input type="text" name="path" id="path" value="" style="display:none">
                <input type="text" name="filenameDownload" id="filenameDownload" value="" style="display:none">
                <button type="submit" id="submited" class="btn waves-effect waves-light" disabled>
                    <i class="material-icons right">file_download</i>
                    Download File</button>
            </form>
        </div>
    </div>
</div>
<main th:replace = "index :: main"></main>
<footer th:replace = "index :: footer"></footer>
<script src="https://kit.fontawesome.com/35db202371.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/jquery.validate.min.js"></script>
<script th:src="@{/js/image/image.js}"></script>
</body>
</html>