<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Converter</title>
</head>
<body>
<!-- HEADER-->
<header th:fragment = "header">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img th:src="@{/images/logo.png}" width="30" height="30" alt="" loading="lazy">
            </a>
            <a class="navbar-brand" th:href="@{/home}">Converter</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/file_video}">Video</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/file_audio}">Audio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/file_docs}">Docs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/file_img}">Image</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/file_metadata}">Metadata</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- CONTENT-->
<div class="container">

</div>
<!-- FOOTER-->
<footer th:fragment = "footer">
    <div class="text-light text-center fixed-bottom footer-page">
        &copy; 2020 - Copyright.
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script th:src="@{/js/jquery-3.5.1.js}"></script>
    <script th:src="@{/js/script.js}"></script>
</footer>
</body>
</html>