<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org" lang="en">

<head th:replace="main/template :: head"></head>

<body>
<header th:replace="main/template :: header"></header>
<div class="container">
    <div class="row m-3">
        <div class="float-left">
            <h6 class="m-3 align-bottom">Metadata</h6>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <form method="post" th:action="@{/metadata_file}" enctype="multipart/form-data">
                <div class="form-row">
                    <div class="col-md-5">
                        <div class="form-row">
                            <label for="file">File</label>
                            <div class="custom-file">
                                <input type="file" class="form-control" id="file" lang="es" name="file">
                            </div>
                        </div>
                        <div class="form-row">
                            <fieldset class="form-group p-3">
                                <div class="row">
                                    <label for="file">Format</label>
                                    <div class="col-sm-10">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                                            <label class="form-check-label" for="gridRadios1">
                                                txt
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                                            <label class="form-check-label" for="gridRadios2">
                                                csv
                                            </label>
                                        </div>
                                        <div class="form-check disabled">
                                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3">
                                            <label class="form-check-label" for="gridRadios3">
                                                html
                                            </label>
                                        </div>
                                        <div class="form-check disabled">
                                            <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios4" value="option3">
                                            <label class="form-check-label" for="gridRadios4">
                                                Json
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                        <dic class="form-row">
                            <div class="col-md-6">
                                <button class="btn btn-primary btn-block" type="submit">Download</button>
                            </div>
                        </dic>
                    </div>
                    <div class="col-md-7">
                        <div class="form-row ml-2">
                            <label>Preview</label>
                            <textarea class="form-control" id="textarea_preview" rows="12" disabled></textarea>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<footer th:replace="main/template :: footer">
    </footer>
</body>

</html>