/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.slider .btn{
  margin-top: 20px;
  padding:0 50px;
  border-radius: 10px;

}
.footer-text{
  font-size: 20px;
}

.social-container{
  width: 100%;
  height: 100px;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-container a{
  color:#ffff;
  font-size: 35px;
  margin:0px 20px;
}

nav {
    color: #fff;
    background-color: #00bcd4;
    width: 100%;
}
.btn {
    text-decoration: none;
    color: #fff;
    background-color: #ff4081;
    text-align: center;
    letter-spacing: .5px;
    transition: 0.2s ease-out;
    cursor: pointer;
}
.input-field div.error {
    color:red;
}

.select-validate{
    border-color:#F44336;
    border-width:2px;
}

.select-was-validate{
    border-color:green;
    border-width:2px;
}

.animation-text{
   text-shadow: 1px 2px #000;
}
body {
background-color:#e3f2fd;
}