<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org" lang="en">
<head th:replace = "main/template :: head"></head>
<body>
<header th:replace = "main/template :: header"></header>

<div class="container col-md-10">
    <div class="row m-3">
        <img class="rounded float-left img-icon" th:src="@{/images/videoo.png}">
        <div class="float-left">
            <h6 class="m-3 align-bottom">Convert video</h6>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <form method="post" th:action="@{/upload_file}" enctype="multipart/form-data">
                <div class="form-row">
                    <div class="col-md-5 mb-3">
                        <label for="validationDefault01">File</label>
                        <div class="custom-file">
                            <input type="file" class="form-control" id="" lang="es" name="file">
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="validationDefault04">Format</label>
                        <select class="custom-select" id="validationDefault04" required>
                            <option selected disabled value="">Choose...</option>
                            <option>Mp4</option>
                            <option>Avi</option>
                            <option>Flv</option>
                            <option>Mpg4</option>
                        </select>
                    </div>
                    <dic class="col-md-3 mb-3">
                        <label for="validationDefault04"></label>
                        <button class="btn btn-primary btn-block mt-2" type="submit">Convert</button>
                    </dic>
                </div>
            </form>
        </div>
    </div>
    <footer th:replace = "main/template :: footer"></footer>
    <script th:src="@{/js/video/video.js}"></script>
</body>
</html>