<!DOCTYPE html>
  <html xmlns:th="http://www.thymeLeaf.org" lang="en">
    <head th:replace="index::head"></head>
    <body>
    <header><nav th:replace="index :: nav" replace="index :: nav"></nav></header>
          <!--formularios-->
        <div class="section container ">
            <div class="row card-panel z-depth-5">
                <form  id="form-video" method="post" th:action="@{/convertVideo}" enctype="multipart/form-data">
                    <div class="file-field input-field col s12 m6">
                            <div class="btn teal accent-3">
                                <i class="material-icons right">folder_open</i>
                                <span> File</span>
                            </div>
                            <div class="file-path-wrapper">
                                <input type="file" id="file" name="file" onchange="calculate()"/>
                                <input class="file-path" type="text" disabled>
                            </div>
                        </div>
                        <div class="input-field col s12 m6">
                            <input type="text" id="md5" name="md5" class="validate" placeholder="" disabled>
                            <label for="md5">MD5:</label>
                        </div>
                        <div class="input-field col s12 m6">
                          <select id="exportFormat" name="exportFormat" class="browser-default">
                            <option value="" disabled selected>Select format or extension</option>
                            <option value="mp4">MP4</option>
                            <option value="gif">GIF</option>
                            <option value="mp3">MP3</option>
                          </select>
                        </div>
                        <div class="input-field col s12 m6">
                            <input type="text" id="name" name="name" class="validate" required>
                            <label for="name">Name:</label>
                        </div>
                         <div class="input-field col s12 m6">
                            <input type="text" id="videoCodec" name="videoCodec" class="validate" required>
                            <label for="videoCodec">video codec:</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <input type="text" id="audioCodec" name="audioCodec" class="validate" required>
                            <label for="audioCodec">audio codec:</label>
                        </div>
                        <div class="input-field col s12 m6">
                            <select id="frames" name="frames" class="validate browser-default">
                                <option value="" disabled selected>Select a frame rate</option>
                                <option value="21">21</option>
                                <option value="24">24</option>
                                <option value="27">27</option>
                                <option value="30">30</option>
                            </select>
                        </div>
                        <div class="input-field col s12 m12">
                            <input type="text" id="sampleRate" name="sampleRate" class="validate" required>
                            <label for="sampleRate">sample Rate:</label>
                        </div>

                         <div class="input-field col s12 m4">
                            <label for="extractThumbnail">
                              <input id="extractThumbnail" name="extractThumbnail" type="checkbox" />
                              <span>thumbnail</span>
                            </label>
                        </div>
                        <div class="input-field col s12 m4">
                            <input type="text" id="start" name="start" class="validate">
                            <label for="start">start:</label>
                        </div>
                        <div class="input-field col s12 m4">
                            <input type="text" id="duration" name="duration" class="validate">
                            <label for="duration">duration:</label>
                        </div>                
                        <div class="input-field col s3">
                            <label>
                                <input id="extractMetadata" name="extractMetadata" type="checkbox"/>
                                <span>Metadata</span>
                            </label>
                        </div>
                        <div class="input-field col s3">
                            <label>
                                <input id="extractGif" name="extractGif" type="checkbox"/>
                                <span>GIF</span>
                            </label>
                        </div>
                        <div class="">
                            <div class="input-field col s2 right">
                                <button class="btn" type="submit">
                                    <i class="material-icons right">track_changes</i>Apply
                                </button>
                            </div>
                        </div>
                </form>
                <div class="input-field col s2 right">
                    <form method="get" th:action="@{/download/}">
                        <input type="text" name="path" id="path" value="" style="display:none">
                        <input type="text" name="filenameDownload" id="filenameDownload" value="" style="display:none">
                        <button type="submit" id="submited" class="btn waves-effect waves-light" disabled>
                            <i class="material-icons right">file_download</i>
                            Download File</button>
                    </form>
                </div>
            </div>
        </div>
     <main th:replace = "index :: main"></main>
     <footer th:replace = "index :: footer"></footer>
    <script src="https://kit.fontawesome.com/35db202371.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.2/dist/jquery.validate.min.js"></script>
     <script th:src="@{/js/video/video.js}"></script>
    </body>
  </html>