<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org" lang="en">

<head th:replace="main/template :: head"></head>

<body>
    <header th:replace="main/template :: header"></header>

    <div class="container col-md-10">
        <div class="row m-3">
            <img class="rounded float-left img-icon" th:src="@{/images/melody.png}">
            <div class="float-left">
                <h6 class="m-3 align-bottom">Convert audio</h6>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <form id="form-audio" method="post" th:action="@{/upload_file}" enctype="multipart/form-data">
                    <div class="form-row">
                        <div class="col-md-5 mb-3">
                            <label>File</label>
                            <div class="custom-file">
                                <input type="file" class="form-control" id="file" lang="es" name="file">
                            </div>
                        </div>
                        <div class="col-md-5 mb-3">
                            <label>Name</label>
                            <input type="text" class="form-control" id="name" lang="es" name="name">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="format">Format</label>
                            <select id="format" name="format" class="custom-select" required>
                                <option selected disabled value="">Choose...</option>
                                <option value=".wav">.wav</option>
                                <option value=".mp3">.mp3</option>
                            </select>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="codec">codec</label>
                            <input type="text" class="form-control" id="codec" lang="es" value="libmp3lame" name="codec">
                        </div>

                        <div class="col-md-4 mb-3">
                            <label for="bitRate">Bit rate</label>
                            <select id="bitRate" name="bitRate" class="custom-select" required>
                                <option selected disabled value="">Choose...</option>
                                <option value="32k">32k</option>
                            </select>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="Channel">Channel</label>
                            <select id="Channel" name="Channel" class="custom-select" required>
                                <option selected disabled value="">Choose...</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                            </select>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="isCut">Cut</label>
                            <input type="text" class="form-control" id="isCut" lang="es" name="isCut">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="start">start</label>
                            <input type="text" class="form-control" id="start" lang="es" name="start">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="duration">duration</label>
                            <input type="text" class="form-control" id="duration" lang="es" name="duration">
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="sampleRate">sampleRate</label>
                            <input type="text" class="form-control" id="sampleRate" lang="es" name="sampleRate">
                        </div>
                        <dic class="col-md-4 mb-3">
                            <button class="btn btn-primary btn-block mt-2" type="submit">Convert</button>
                        </dic>
                        <dic class="col-md-4 mb-3">
                            <form method="get" th:action="@{/download}">
                                <input type="text" name="path" id="path" value="" style="display:none">
                                <button type="submit" id="submitd" class="btn btn-success btn-block mt-2" disabled>Download</button>
                            </form>
                        </dic>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer th:replace="main/template :: footer"></footer>
    <script th:src="@{/js/audio/audio.js}"></script>
</body>
</html>