<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org" lang="en">
<head th:replace = "main/template :: head"></head>
<body>
    <header th:replace = "main/template :: header"></header>
    <div class="container">
        <h2 class="text-center font-weight-bold mt-4">File Converter</h2>
        <h6 class="text-center mb-4">Convert your files to any format</h6>
        <section id="galeria" class="section">
            <div class="container-fluid">
                <div class="row">
                    <div class="columna">
                        <div class="cuadrado-perfecto">
                            <a th:href="@{/file_video}">
                                <img th:src="@{/images/videoo.png}">
                                <h3>Convert video</h3>
                            </a>
                        </div>
                    </div>
                    <div class="columna">
                        <div class="cuadrado-perfecto">
                            <a th:href="@{/file_audio}">
                                <img th:src="@{/images/melody.png}">
                                <h3>Convert audio</h3>
                            </a>
                        </div>
                    </div>
                    <div class="columna">
                        <div class="cuadrado-perfecto">
                            <a th:href="@{/file_img}">
                                <img th:src="@{/images/img.png}">
                                <h3>Convert image</h3>
                            </a>
                        </div>
                    </div>
                    <div class="columna">
                        <div class="cuadrado-perfecto">
                            <a th:href="@{/file_docs}">
                                <img th:src="@{/images/docs.png}">
                                <h3>Convert documento</h3>
                            </a>
                        </div>
                    </div>
                    <div class="columna text-format">
                        <div class="text-center">
                            Supported formats: <br>
                            mp4, flv, avi, mpeg4
                        </div>
                    </div>
                    <div class="columna text-format">
                        <div class="text-center">
                            Supported formats: <br>
                            mp3, wwa
                        </div>
                    </div>
                    <div class="columna text-format">
                        <div class="text-center mr-1">
                            Supported formats: <br>
                            jpg, jpeg, png, gif
                        </div>
                    </div>
                    <div class="columna text-format">
                        <div class="text-center mr-1">
                            Supported formats: <br>
                            txt, doc, pdf, img
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <footer th:replace = "main/template :: footer"></footer>
    <script th:src="@{/js/home/home.js}"></script>
</body>
</html>